<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/createProduct.css">
</head>
<body>
    <header>

        <div class="logo-header">
            <img src="/images/logo-blanco-40trip.svg" alt="Logo de 40Trip">
        </div>

        <nav class="menu-principal">
            <a href="#">Menú principal</a> 
        </nav>

    </header>

        <form action="/products/edit/<%= product.id %>?_method=PATCH " method="POST" enctype="multipart/form-data" id="edit">

            
            <div class="input">
                <div>
                    <br>
                    <br>
                    <h1 class="form-input"> Editando: <%= product.productName %>  </h1>
                    <br>
                    <div>
                        <label for="productName" class="form-label">Nombre del producto:</label>
                        <input type="text" id="productName" name="productName" class="form-input" value="<%= product.productName %>" >
                        <div class=' <%= locals.errors && errors.productName ? 'text-danger' : null  %> '><%= locals.errors && errors.productName ? errors.productName.msg : null %></div>
                    </div>
                    <div>
                        <label for="description" class="form-label">Descripción:</label>
                        <input type="text" name="description" id="description" value="<%= product.description %>" class="form-input" ></input>
                        <div class=' <%= locals.errors && errors.description ? 'text-danger' : null  %> '><%= locals.errors && errors.description ? errors.description.msg : null %></div>
                    <div>
                        <label for="bigImg" class="form-label">Carga la imagen de tu producto(872x497):</label>
                        <input type="file" name="bigImg" accept=".jpg" accept=".png" id="bigImg" class="form-input">
                        <div class=' <%= locals.errors && errors.bigImg ? 'text-danger' : null  %> '><%= locals.errors && errors.bigImg ? errors.bigImg.msg : null %></div>

                        <label for="mediumImg" class="form-label">Carga la imagen de tu producto(746x312):</label>
                        <input type="file" name="mediumImg" accept=".jpg" accept=".png" id="mediumImg" class="form-input">
                        
                    </div>
                    
                    <div>
                        <label for="operatedBy" class="form-label">Operado por:</label>
                        <input type="text" id="operatedBy" name="operatedBy" value="<%= product.operatedBy %>" class="form-input" >
                        <div class=' <%= locals.errors && errors.operatedBy ? 'text-danger' : null  %> '><%= locals.errors && errors.operatedBy ? errors.operatedBy.msg : null %></div>

                    </div>
                    <div>
                        <label for="hotel" class="form-label">Nombre del hotel:</label>
                        <input type="text" id="hotel" name="hotel" value="<%= product.hotelName %>" class="form-input" >
                        <div class=' <%= locals.errors && errors.hotelName ? 'text-danger' : null  %> '><%= locals.errors && errors.hotelName ? errors.hotelName.msg : null %></div>

                    </div>
                    <div>
                        <label for="nights" class="form-label">Cantidad de noches:</label>
                        <input type="text" id="nights" name="nights" value="<%= product.nights %>" class="form-input" >
                        <div class=' <%= locals.errors && errors.nights ? 'text-danger' : null  %> '><%= locals.errors && errors.nights ? errors.nights.msg : null %></div>

                    </div>
                    <div>
                        <label for="roomType" class="form-label">Tipo de habitación:</label>
                        <input type="text" id="roomType" name="roomType" value="<%= product.roomType %>" class="form-input" >
                        <div class=' <%= locals.errors && errors.roomType ? 'text-danger' : null  %> '><%= locals.errors && errors.roomType ? errors.roomType.msg : null %></div>

                    </div>
                    <div>
                        <h4 class="form-input">Actividad:</h4>
                        <div>
                            <label for="activityName" class="form-label">Descripción de la actividad:</label>
                            <input type="text" id="activityName" name="activityName" value="<%= product.activityName %>" class="form-input" >
                            <div class=' <%= locals.errors && errors.activityName ? 'text-danger' : null  %> '><%= locals.errors && errors.activityName ? errors.activityName.msg : null %></div>
                        </div>
                    </div>
                    <div>
                        <h4 class="form-input">Categorías:</h4>
                        <select name="categoryName" id="categoryName" class="form-input">
                            <option value="destinos">Destinos</option>
                            <option value="recomendados">Recomendados</option>
                            <option value="estilos">Estilos de viaje</option>
                        </select>
                    </div>
                    <div>
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" id="price" name="price" value="<%= product.price %>"  class="form-input">
                        <div class=' <%= locals.errors && errors.price ? 'text-danger' : null  %> '><%= locals.errors && errors.price ? errors.price.msg : null %></div>
                    </div>

            </div>


            <div class="buttons">
                
                <button class="guardar" type="submit"> Guardar cambios</button>
                

            </div>

        </form>
        <br>
        <form action="/delete/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data"> 
            <button class="borrar" type="reset" style="margin-bottom: 3rem;">Eliminar producto</button> 
        </form>

</body>
</html>