<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Home' }) %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <%- include('partials/header-navbar') %>
    </header>

    <main>

        <h1> Nuestros viajes </h1>

        <p>Estos son los destinos destacados en nuestras propuestas de viajes en Argentina y Chile. </p>

        <div class="divContenedor">

            <% for( let i=0; i < products.length; i++ ) { %>
                <article class="card-product">
                    <a href="/products/<%= products[i].id %>">
                        <%= products[i].productName %>
                            <img src="/images/<%=products[i].bigImg %> " alt="Imagen">
                    </a>
                </article>
                <% } %>

        </div>

    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>

</html>