<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Home' }) %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header-navbar') %>
        <!-- /Header -->
        <main>

            <div class="divContenedor">

                <article>
                    <h3> Nuestros viajes </h3>
                    
                    <p>Estos son los destinos destacados en nuestras propuestas de viajes en Argentina y
                        Chile. </p>
                </article>

                <% for( let i=0; i < products.length; i++ ) { %>
                    <article class="card-product">
                        <a href="/products/<%= products[i].id %>">
                            <%= products[i].productName %>
                        <img src="/images/<%=products[i].bigImg %> " alt="Imagen">
                        </a>
                    </article>
                    <% } %>

            </div>

        </main>

        <%- include('partials/footer') %>

</body>

</html>