<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('partials/head', {title: 'Detalle de Producto' }) %>
            <link rel="stylesheet" href="/css/productDetail.css">
    </head>
</head>

<body>
    <header>
        <%- include('partials/header-navbar.ejs') %>
    </header>
    <main>
        <section>
            <div class="conteiner">
                <div class="column1">
                    <img src="/images/<%=products.bigImg%>" alt="">
                </div>
                <div class="column2">
                    <div class="row1">
                        <img src="/images/<%= products.mediumImg%>" alt="">
                    </div>
                    <div class="row2">
                        <img src="/images/<%= products.small1Img%>" alt="">
                        <img src="/images/<%= products.small2Img%>" alt="">
                    </div>
                </div>
            </div>
            <div class="button">
                <a href="">Abrir galeria</a>
            </div>
        </section>
        <section>
            <h1>
                <%= products.productName %>
            </h1>
            <h3>Fechas y personas</h3>
            <article class="input date">
                <p><i class="fa-regular fa-calendar"></i> Desde xx/xx - Hasta xx/xx</p>
                <p><i class="fa-regular fa-user"></i> Cantidad de personas</p>
                <a href="" class="button2"><i class="fa-solid fa-pencil"></i> Modificar</a>
            </article>
            <h3><i class="fa-solid fa-check"></i> Este paquete incluye</h3>
            <div>
                <article class="box2">
                    <p class="tittle">Política de cambios y cancelaciones.</p>
                    <a href="" class="button2">Ver condiciones</a>
                </article>
            </div>
            <article class="box1">
                <div class="input">

                    <p class="tittle"><i class="fa-solid fa-plane"></i> Vuelo </p>
                    <p class="subtittle">| Operado por <%= products.operatedBy %></p>

                </div>
                <p class="top">Ida xx/xx</p>
                <a href="" class="button2">Ver detalles</a>
                <p class="bottom">Vuelta xx/xx</p>
            </article>
            <article class="box1">
                <div class="input">
                    <p class="tittle"><i class="fa-solid fa-hotel"></i> Alojamiento</p>
                    <p class="subtittle">
                        <%= products.nights %> noches
                    </p>
                </div>
                <p class="top">
                    <%= products.hotelName %>
                </p>
                <a href="" class="button2">Ver alojamiento</a>
                <p class="bottom light">
                    <%= products.roomType %>
                </p>
            </article>
            <article class="box1">
                <p class="tittle"><i class="fa-regular fa-map"></i>Actividad</p>
                <p class="top">
                    <%=products.activityName %>
                </p>
                
                </p>
                <a href="" class="button2">Ver actividad</a>

            </article>
        </section>
        <section class="price">
            <div class="product">
                <p>
                    <%= products.productName %>
                </p>
            </div>
            <div class="vertical-line"></div>
            <div class="description">
                <p class="tittle1">Precio final por persona</p>
                <p class="tittle2">$<%= products.price %>
                </p>
                <p class="tittle3">Final x personas $xx.xxx</p>
                <p class="tittle4">Incluye Imprto. PAIS y Percepción RG4815</p>
            </div>
            <div class="reserva">
                <a href="/products/productCart">RESERVAR</a>
            </div>
        </section>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>

</html>