<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Pagina de usuario' }) %>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h1>Hola, <%= user.first-name %> </h1>
        <img src="/public/images/avatars/<%= user.image %> " alt="Foto de perfil">
        <h1>Correo electronico: <%= user.email %> </h1>
        <h1>Categoria: <%= user.category %> </h1>
    </main>
    
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>
</html>