<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Pagina de usuario' }) %>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h1>Hola, <%= user.firstName %> </h1>
        <br>
        <img src="/images/avatars/<%= user.avatar %> " height="180" width="200" alt="Foto de perfil">
        <br>
        <h1>Correo electronico: <%= user.email %> </h1>
        <br>
        <h1>Categoria: <%= user.userRole %> </h1>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>
</html>